.main-footer {
  background: #353535;
  padding: 100px;
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1270px;
    &__content {
      display: flex;
      flex-flow: column wrap;
      margin-right: 10px;
      width: calc((100% - 30px) / 4);
      &:nth-child(4){
         margin-right: 0;
     }
    }
  }
}
.footer-subwrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.instagram {
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  &__grid {
    position: relative;
    margin: 0 10px 10px 0;
    width: calc((100% - 20px) / 3);
    text-align: center;
    &:nth-child(3n) {
      margin: 0 0 10px 0;
    }
    &__text {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 4rem;
      color: $white;
   }
   &:hover &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
   }
  }
}
.newsletter {
  display: flex;
}
.subfooter {
  background: $subfooter-grey;
  padding: 30px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    padding: 0 25px;
    border-right: 1px solid $main-grey;
    &__item {
      margin: 0;
    }
  }
}