.main-footer {
  background: #353535;
  &__wrapper {
    // max-width: 1920px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;  
    flex-grow: 1;
    margin: 0 auto;
    &__content {
      display: flex;
      flex-flow: column wrap;
      width: calc((100% - 30px) / 4);
      &:nth-child(-n + 3){
        margin-right: 10px;
      }
      &--tags {
        @media (max-width: $third-breakpoint) {
          display: none;
        }
      }
      &--instagram {
        @media(max-width: $fourth-breakpoint) {
          display: none;
        }
      }
      @media (max-width: $third-breakpoint) {
        width: auto;
      }
    }
  }
  @media (max-width: $fourth-breakpoint) {
    padding: 0;
  }
}
.contact__info {  
  margin: 2px 0;
  &:first-of-type {
    margin: 5px 0 30px;
  }
}
.footer-subwrapper {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 50px;
}
.instagram {
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  &__grid {
    margin: 0 10px 10px 0;
    position: relative;
    text-align: center;
    width: calc((100% - 20px) / 3);
    &:nth-child(3n) {
      margin: 0 0 10px 0;
    }
    &__text {
      bottom: 0;
      color: $white;
      display: none;
      font-size: 4rem;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &:hover &__text {
      align-items: center;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: $fourth-breakpoint) {
    display: none;
  }
}
.instagram__header {
  @media (max-width: $fourth-breakpoint) {
    display: none;
  }
}
.newsletter {
  @media (max-width: $fifth-breakpoint) {
      display: none;
  }
}
.subfooter {
  background: $subfooter-grey;
  padding: 30px;
  margin: 0 auto;
  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media (max-width: $fourth-breakpoint) {
      flex-flow: column wrap;
    }
  }
  &__nav {
    padding: 0 25px;
    &:nth-child(-n + 2){
      border-right: 1px solid $main-grey;
    }
    &__item {
      margin: 0;
    }
    @media (max-width: $fourth-breakpoint) {
      padding: 0 10px;
    }
  }
  @media (max-width: $fourth-breakpoint) {
    padding: 15px;
  }
}
.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}