.main-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2%;
  position: relative;
  &__logo {
    padding: 20px 0;
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    display: inline-block;
    font-size: 2.2rem;
    border-bottom: 3px solid transparent;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    &:hover {
      border-bottom: 3px solid $main-yellow;
      color: $main-black;
    }
    &--drop-down {
      padding-right: 30px;
      &::after {
        content: url("../images/down-arrow.png");
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }
}
.country {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  background: white;
  margin: 0;
  padding: 0;
  z-index: 10;
  &:after {
    content: url("../images/down-arrow.png");
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
  } 
  &__select {
    font-size: 1.8rem;
    color: $secondary-grey;
    display: flex;
    &__option {
      display: none;
      & + label {
      display: none;
      padding: 20px 40px;
        & img {
          display: inline;
          margin-right: 10px;
        }
      }
      &:checked + label {
        display: block;
        }
      }
    }
  &:hover label {
    display: block;
    background: white;
    &:hover {
      color: white;
      background: $main-yellow;
    }
  }
}
.fa-search, .fa-user, .fa-shopping-bag {
  color: $main-grey;
  font-size: 3rem;
  margin: 20px;
}
.headline {
  display: flex;
  justify-content: space-between;
  position: relative;
  &__text {
    position: relative ;
    left: 200px;
    z-index: 2;
    &--right {
      text-align: right;
      position: absolute;
      padding: 20% 0;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;      
    }
    &__date{
      position: relative;
      &__date::after {
        content: "";
        display: block;
        background: $main-grey;
        width: 62px;
        height: 2px;
        position: absolute; 
        bottom: -10px;
      }
    }
    &__title {
      display: block;
      width: 100%;
    }
    &__icon {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
   &::after {
    content: "01";
    position: absolute;
    z-index: -1;
    color: $faded-grey;
    bottom: 0;
    left: 10%;
    font-size: 50rem;
  }
}
.flip-image {
  position: relative; 
  &__paragraph {
    position: absolute;
    width: 100%;
    min-height: 100px;
    left: 40px;
    bottom: 0;
    transform: rotate(180deg);
  }
  &__outline {
    position: absolute;
    top: 0;
    right: 0;
    &__svg {
      width: 100%;
      height: 700px;
      stroke: $white;
      stroke-width: 5px;
      stroke-dasharray: 100, 100, 200, 550, 300, 200, 750;
      fill: none;   
    }
  }
  &__icons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-grey;
    font-size: 3.3rem;
    font-weight: lighter;
    &--left {
      left: 100px;
      right: 100%;
      top: 0;
    }
    &__item {
      background: $white;
      padding: 30px;
      border: none;
      &--dark {
        background: $hover-font;
        padding: 10px 20px; 
      }
      &--small {
      padding: 10px 20px; 
      }
      &:first-of-type {
        color: $main-yellow;
        border-right: 1px solid $border-grey;
      }
    }
  }
}