$main-yellow: #d4bd52;
$main-grey: #aaa;
$main-black: #333;
$hover-font: #303030;
$secondary-grey: #888;
$side-grey: #eee;
$secondary-black: #444;
$white: #fff;
$faded-grey: rgba(170,170,170,0.2);
$paragraph-grey: #666;

html {
  font-size: 62.5%;
}
img {
  display: block;
  max-width: 100%;
}