$main-yellow: #d4bd52;
$main-grey: #aaa;
$main-black: #333;
$hover-font: #303030;
$secondary-grey: #888;
$side-grey: #eee;
$secondary-black: #444;
$white: #fff;
$faded-grey: rgba(170,170,170,0.2);
$paragraph-grey: #666;
$border-grey: #464646;
$subfooter-grey: #3e3e3e;

$first-breakpoint: 1800px;
$second-breakpoint: 1450px;
$third-breakpoint: 1200px;
$fourth-breakpoint: 975px;
$fifth-breakpoint: 550px;

%--outlined {
  outline: 5px solid $white;
  outline-offset: -30px;
}
%--padded-bottom {
  padding-bottom: 100px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
