@import "setup";
@import "utils";
@import "typography";
@import "components/lists";
@import "components/buttons";
@import "components/header";


// 01 - Main Styles 
// 02 - Header 
// 03 - Collections 
// 04 - Season 
// 05 - Sale Item
// 06 - Blog
// 07 - CTA
// 08 - Footer
// 09 - Subfooter

.main-page {
  position: relative;
  right: 0;
  transition: all .5s ease-in-out;
}
.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  &--footer, &--nav {
    padding: 0;
  }
  &--footer {
    padding: 0;
  }
  &--blog {
    padding: 0;
  } 
  &__inner-wrapper {
    margin: 0 auto;
    max-width: 65%;
    &--bottom {
      @extend %--padded-bottom;
      @media (max-width: $fifth-breakpoint) {
        padding-bottom: 20px;
      }
    }
    @media (max-width: $first-breakpoint){
      max-width: 80%;
    }  
    @media (max-width: $fourth-breakpoint){
      max-width: 100%;
    }  
  }
  @media (min-width: $first-breakpoint) {
    max-width: 1920px;
  }
  @media (max-width: $first-breakpoint) {
    max-width: 1450px;
  }
  @media (max-width: $second-breakpoint){
    max-width: 1200px;
  }
  @media (max-width: $third-breakpoint){
    max-width: 90%;
  }
  @media (max-width: $third-breakpoint){
    padding: 0 0 50px 0;
  }
}
.collections-nav{
  position: relative;
  &__item {
  display: flex;
  flex: 1 0 250px;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
  margin: 200px 0;
  &:nth-child(-n +2) {
    margin-right: 20px;
  }
  &__title {
    display: inline-block;
    bottom: 50px;
    left: 0;
    margin: 10px;
    position: absolute;
    &__line {
      display: inline-block;
      background: $white;
      margin: 5px;
      padding: 5px 20px;
    }
    @media (max-width: $first-breakpoint) {
      left: -50px;
    }
    @media (max-width: $second-breakpoint) {
      left: -15px;
    }
  }
  &__paragraph {
    left: 20px;
    margin: 0;
    position: absolute;
    top: 30%;
    transform: rotate(180deg);
    &::before {
      content: "";
      background-color: $main-black;
      display: block;
      height: 23px;
      position: absolute;
      right: 50%;
      top: -30px;
      width: 2px; 
    }
    @media (max-width: $first-breakpoint) {
      left: 0;
    }
    @media (max-width: $second-breakpoint) {
      top: 30%;      
      left: -15px;
    }
    @media (max-width: $third-breakpoint) {
      display: none;
    }
  }
  &__img--outlined {
    @extend %--outlined;
  }
  &:nth-child(n + 2){
    @media (max-width: $fourth-breakpoint) {
      display: none;
    }
  }
  @media (max-width: $third-breakpoint){
    padding: 0;
  }
  @media (max-width: $fourth-breakpoint) {
    margin: 40px 0;
    }
  }
  &__button {
    display: none;
    position: absolute;
    top: 40%;
    right: 85%;
    min-width: 0;
    border-radius: 50%;
    padding: 10px 15px;
    &:last-of-type {
      left: 80%; 
    }
    @media (max-width: $fourth-breakpoint) {
      display: block;
    }
  }
}

.season {
  position: relative;
  &__title--vertical {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
    @media (max-width: $first-breakpoint) {
      right: -50px;
    }
    @media (max-width: $second-breakpoint){
      position: static;
      margin: 0;
      transform: none;
    }
  }
  &__title--left {
    left: 0;
    top: 68%;
    transform: none;
    @media (max-width: $first-breakpoint) {
      left: -100px;
    }
  }
  &__header {
    margin-bottom: 0;
  }
  &__text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &--sale {
    padding: 100px 0;
    @media (max-width: $fourth-breakpoint) {
      padding: 25px 0;
    }
  }
}
.sale {
  flex: 1 0 150px;
  margin: 0 auto;
  &:nth-child(-n + 3){
    margin-right: 10px;
  }
    &__item {
    position: relative;
    &__cost {
      @media (max-width: $second-breakpoint) {
        margin: 0 0 20px 0;
      }
    }
    &__reduction {
      margin-left: 10px;
    }
    .fa-shopping-bag {
      background: $main-black;
      bottom: 0;
      color: $white;
      font-size: 5rem;
      margin: 0;
      padding: 5px 10px;
      position: absolute;
      right: 0;
      transition: all .25s ease-in-out;
    }
    &:hover .fa-shopping-bag {
      background: $main-yellow;
    }
    @media (max-width: $second-breakpoint){
      left: 0;
    }
  }
  @media (max-width: $third-breakpoint) {
    flex: 2 0 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
}
.blog {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  &__image {
    flex: 1 0 250px;
    &--first {
      z-index: 10;
      position: relative;
      border: 15px solid $white;
    }
    &--second {
      z-index: 0;
    }
    @media (max-width: $third-breakpoint) {
      border: none;
      width: 80%;
    }
    @media (max-width: $fifth-breakpoint) {
      width: 100%;
      height: auto;
    }
    @media (max-width: $fifth-breakpoint) {
      display: flex;
    }
  }
  &__text {
    flex: 1 0 150px;
    left: 50px;
    padding: 50px 0 0 5%;
    position: relative; 
    z-index: 20;
    &--second {
      left: -50px;
      padding: 50px 5% 0 0;
      text-align: right;
      @media (max-width: $second-breakpoint){
        left: 0;
        padding: 10px 0 0 0;
        margin: 20px 15px 0 0;
      }
      @media (max-width: $third-breakpoint) {
        left: 0;
      }
    }
    @media (max-width: $second-breakpoint){
      left: 0;
      padding: 0;
    }
    @media (max-width: $third-breakpoint) {
        padding: 0;
        margin: 0;
    }
  }
  &__title, &__date {
    margin: 0;
  }
  &__content {
    margin: 5% 0;
    @media (max-width: $first-breakpoint){
      margin: 2% 0;
    }
  }
  &--second {
    bottom: 50px;
    position: relative;
    @media (max-width: $second-breakpoint) {
      bottom: 20px;
    }
    @media (max-width: $third-breakpoint) {
      bottom: 0;
    }
  }
  @media (max-width: $third-breakpoint) {
    display: column;
    flex-flow: column wrap;
    align-items: center;
  }
  &--first {
    @media (max-width: $third-breakpoint) {
      flex-flow: column-reverse wrap;
    }
  }
  @media (max-width: $first-breakpoint){
    padding: 0 20px;
  }
}
.cta {
  width: 100%;
  display: flex;
  &__footer {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 1 0 150px ;
    flex-flow: column wrap;
    padding: 150px 50px;
    &--first {
      background-image: url('../images/footer-1.png');
    }
    &--second {
      background-image: url('../images/footer-2.png');
    }
  }
  &__header {
    margin: 0;
  }
  &__subtitle {
    margin: 1% 0 10%;
    @media (max-width: $fifth-breakpoint) {
      text-align: left;
    }
  }
  @media (max-width: $third-breakpoint) {
    flex-flow: column wrap;
  }
}
@import "components/footer";